@import url('bespoke-stencil.css');
@import url('supreme.css');

*
{
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-overflow-scroling: touch;
}


.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: -1;
  display: block;
  pointer-events: none;
}

h1, h2 {
    font-family: BespokeStencil-Regular;
    text-align: center;
    text-transform: uppercase;
}

p, span, small, a {
    font-family: Supreme-Regular;
}

.top-right-logo {
    position: fixed;
    top: 10px;
    right: 55px;
    width: 20px;  
    height: auto;
    z-index: 10; 
}

.top-right-logo2 {
    position: fixed;
    top: 9px;
    right: 20px;
    width: 25px;  
    height: auto;
    z-index: 10; 
}

.separator {
    margin-block: 30px;
}

.section-col-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
    min-height: 10px;
}
.section-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    min-height: 10px;
}
.section-col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
    min-height: 10px;
}
.section-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 10px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffeded;
    font-size: 7vmin;
    width: 100%;
    margin: 0 auto;
}


.start-section-content {
    padding-inline: 4%;
}

.j-subtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.description {
    text-align: center;
    font-size: 20px;
}

.j-titles {
    margin-top: 5px;
    text-align: center;
}


.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.individual-skill {
    font-size: 16px;
    border: solid 1px #fff;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 4px;
    background-color: #47474786;
    box-shadow: 2px 2px 3px #ffffff8a;
    position: relative;
    cursor: default;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    text-align: center;
}

.j-skills-row {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 10%;
}

.j-individual-skill {
    font-size: 12px;
    border: solid 1px #fff;
    padding: 8px 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: #47474786;
    box-shadow: 2px 2px 3px #ffffff8a;
    position: relative;
    cursor: default;
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    text-align: center;
}

.individual-skill:hover, .individual-skill:focus, .j-individual-skill:hover, .j-individual-skill:focus {
    box-shadow: 3px 3px 3px #fff;
}

.individual-skill:hover, .j-individual-skill:hover {
  transform: translateY(2px);
}

.job-h {
    font-size: 45px;
    padding-inline: 10%;
}

.job-p-container {
    width: 100%;
}

.job-p {
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-inline: 10%;
    margin-bottom: 10px;
}

.job-link-cont {
    display: flex;
    justify-content: left;
    padding-inline: 10%;
    margin-block: 10px;
}

.nda-link {
    font-size: 14px;
    border: solid 2px #ff5729;
    padding: 6px 9px;
    border-radius: 5px;
    background-color: #ff572941;
    margin: 0 10px;
    display: flex;
    align-items: center;
    transition: box-shadow .15s,transform .15s;
    box-shadow: 1px 1px 3px #ff5729a8;
}

.nda-link:hover, .nda-link:focus {
    box-shadow: 2px 2px 3px #ff5729;
}

.nda-link:hover {
  transform: translateY(2px);
}


.non-nda-link {
    font-size: 14px;
    border: solid 2px #8ccfff;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: #8ccfff3f;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;;
    display: flex;
    transition: box-shadow .15s,transform .15s;
    box-shadow: 1px 1px 3px #8ccfffa8;
}

.non-nda-link:hover, .non-nda-link:focus {
    box-shadow: 2px 2px 3px #8ccfff;
}

.non-nda-link:hover {
  transform: translateY(2px);
}

.gh-logo::before {
    background-image: url(/static/logos/github.png);
    background-repeat: no-repeat;
    background-size: 20px;
    display: flex;
    width: 25px;
    height: 20px;
    content: "";
}

.website-link {
    font-size: 14px;
    border: solid 2px #ffb28d;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: #ffb28d47;
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;;
    display: flex;
    transition: box-shadow .15s,transform .15s;
    box-shadow: 1px 1px 3px #ffb28da8;
}

.website-link:hover, .website-link:focus {
    box-shadow: 2px 2px 3px #ffb28d;
}

.website-link:hover {
  transform: translateY(2px);
}


.bouncy { display: none;}

@media (max-width: 992px) {
    .individual-skill {
        font-size: 12px;
        border: solid 1px #fff;
        padding: 8px 10px;
        margin: 10px;
        border-radius: 4px;
        background-color: #47474786;
        box-shadow: 2px 2px 3px #ffffff8a;
        position: relative;
        cursor: default;
        transition: box-shadow .15s,transform .15s;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        text-align: center;
    }
    .j-skills-row, .job-link-cont {
        justify-content: center;
    }
    .j-individual-skill {
        font-size: 10px;
        border: solid 1px #fff;
        padding: 6px 8px;
        margin: 8px;
        border-radius: 4px;
        background-color: #47474786;
        box-shadow: 2px 2px 3px #ffffff8a;
        position: relative;
        cursor: default;
        transition: box-shadow .15s,transform .15s;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        text-align: center;
    }
    .job-h {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .section h1, h2 {
        font-size: 34px;
    }
    .individual-skill {
        font-size: 10px;
        border: solid 1px #fff;
        padding: 6px 8px;
        margin: 8px;
        border-radius: 4px;
        background-color: #47474786;
        box-shadow: 2px 2px 3px #ffffff8a;
        position: relative;
        cursor: default;
        transition: box-shadow .15s,transform .15s;
        touch-action: manipulation;
        white-space: nowrap;
        will-change: box-shadow,transform;
        text-align: center;
    }
    .j-subtitle {
        font-size: 17px;
    }
    .description {
        font-size: 16px;
    }
    .job-h {
        font-size: 30px;
    }
    .job-p {
        font-size: 12px;
        text-align: center;
    }
    .sm-0 {
        width: 0px !important;
        height: 0px;
        flex: 0;
    }
    /* .section {
        height: 80vh;
    } */
    .bouncy {
        font-size: 12px;
        color: #fff;
        flex-wrap: wrap;
        padding-inline: 15px;
        position: fixed;
        bottom: 0;
        left: 50%; 
        transform: translate(-50%, -50%);
        display: block;
        text-align: center;
        width: 90%;
    }
}

@media (max-width: 576px) {
    .section-col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;    
    }
}

@media (min-width: 768px) {
    .section {
        max-width: 1300px;
    }
}